@charset "UTF-8";
/* ===========reset=========== */
@import url("https://webfontworld.github.io/HSBomBaram/HSBomBaram3.css");
@import url("https://webfontworld.github.io/TheJamsil/TheJamsil.css");
@import url("https://fonts.googleapis.com/css2?family=Kings&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  border: none;
}

[class*=inner] {
  width: 1200px;
  margin: auto;
}

* {
  font-family: "TheJamsil";
}

video {
  width: 1920px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
  /* 세로 스크롤바 제거 */
}

section {
  height: 100vh;
  width: 100vw;
  /* 창의 너비와 높이에 맞춤 */
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #DDAEEA;
  font-weight: bold;
  font-family: "Inclusive Sans";
}

main #section1 {
  color: white;
  background-color: #1a1a1a;
}
main #section1 .intro {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 5;
}
main #section1 .intro__title {
  color: white;
  max-width: 45%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
  transform: translateY(40px);
  font-family: "Kings";
  font-size: 5rem;
}
main #section1 .intro__background {
  position: absolute;
  top: 0;
  background-color: black;
  width: 50%;
  height: 100%;
  transform: scaleX(0);
}
main #section1 .intro__background--left {
  left: 0;
  transform-origin: left center;
}
main #section1 .intro__background--right {
  left: 50%;
  transform-origin: right center;
}
main #section1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: fixed;
  right: 5%;
  width: 1760px;
  margin: auto;
}
main #section1 .header__logo {
  text-align: center;
}
main #section1 .header__logo .name {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Inclusive Sans";
}
main #section1 .header__logo .name p {
  font-size: 0.7rem;
  color: #fff06b;
  font-family: "Inclusive Sans";
}
main #section1 .header nav {
  display: flex;
  gap: 2rem;
  right: 5%;
}
main #section1 .header nav a {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Inclusive Sans";
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
main #section1 .header nav a:hover {
  color: #ddaeea;
}
main #section1 .header nav a.active {
  color: #ddaeea;
  border-bottom: 2px solid #ddaeea;
}
main #section1 .intro_main {
  width: 1600px;
  height: 990px;
  margin: auto;
  padding-top: 6rem;
}
main #section1 .intro_main .intro__col {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: inherit;
}
main #section1 .intro_main .intro__col .intro_left {
  padding-top: 12rem;
}
main #section1 .intro_main .intro__col .intro_left h1 {
  font-size: 8.5rem;
  font-weight: 700;
  font-family: "Inclusive Sans";
}
main #section1 .intro_main .intro__col .intro_left h1 span {
  font-weight: 700;
  font-family: "Inclusive Sans";
  background: linear-gradient(90deg, rgb(255, 107, 107) 0%, rgb(255, 115, 115) 11%, rgb(255, 167, 104) 25%, rgb(253, 162, 122) 38%, rgb(255, 161, 161) 50%, rgb(198, 155, 155) 62%, rgb(153, 114, 163) 75%, rgb(146, 138, 255) 80%, rgb(203, 163, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #section1 .intro_main .intro__col .intro_left .intro_btns {
  padding-top: 4rem;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}
main #section1 .intro_main .intro__col .intro_left .intro_btns .intro_mail {
  color: #fff;
  background-color: #6C59E6;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Inclusive Sans";
}
main #section1 .intro_main .intro__col .intro_left .intro_btns .intro_mail:hover {
  background-color: #8577e6;
}
main #section1 .intro_main .intro__col .intro_left .intro_btns .intro_github {
  color: #85B8B1;
  border: 1px solid #444E5B;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Inclusive Sans";
}
main #section1 .intro_main .intro__col .intro_left .intro_btns .intro_github:hover {
  background-color: #85b8b1;
  color: #000;
}
main #section1 .intro_main .intro__col .intro_left .intro_btns .intro_github i {
  padding-right: 0.7rem;
  font-size: 1.2rem;
}
main #section1 .intro_main .intro__col .intro_right {
  padding-top: 3rem;
}
main #section1 .intro_main .intro__col .intro_right img {
  width: 700px;
  height: 800px;
  animation: movebounce 3s linear infinite;
  position: relative;
}
@keyframes movebounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
main #section1 .intro_main .intro__col .intro_right .intro_object img {
  width: 80px;
  height: 80px;
  position: absolute;
}
main #section1 .intro_main .intro__col .intro_right .intro_object .object01 {
  top: 21%;
  left: 62%;
}
main #section1 .intro_main .intro__col .intro_right .intro_object .object02 {
  top: 35%;
  left: 83%;
}
main #section1 .intro_main .intro__col .intro_right .intro_object .object03 {
  top: 70%;
}
main #section2 {
  background-color: #1A1A1A;
}
main #section2 .about .about_title {
  text-align: center;
  padding-top: 1.5rem;
}
main #section2 .about .about_title h2 {
  font-size: 3rem;
  color: #DDAEEA;
  font-weight: bold;
}
main #section2 .about .about_inner {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #section2 .about .about_inner .about_left {
  width: 47%;
}
main #section2 .about .about_inner .about_left img {
  position: relative;
  right: 90px;
}
main #section2 .about .about_inner .about_left .text_box .about_text {
  width: 21%;
  height: 35%;
  position: absolute;
  bottom: -690px;
  left: 432px;
}
main #section2 .about .about_inner .about_left .text_box .about_text #textContainer {
  font-size: 2rem;
  margin-top: 50px;
  line-height: 5rem;
  white-space: pre-line;
  font-weight: 500;
  /* 줄바꿈 유지 */
}
main #section2 .about .about_inner .about_left .text_box .about_text #textContainer .highlight {
  color: #DDAEEA;
  font-weight: bold;
  /* 텍스트 색상 변경 */
}
main #section2 .about .about_inner .about_right {
  padding-left: 6rem;
}
main #section2 .about .about_inner .about_right h5 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 2.2rem;
  line-height: 2rem;
  position: relative;
}
main #section2 .about .about_inner .about_right h5::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 1.4rem;
  color: #DDAEEA;
  background-color: #DDAEEA;
}
main #section2 .about .about_inner .about_right p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}
main #section3 {
  background: url(../images/skill/skill_bg.png);
}
main #section3 .skill_title {
  text-align: center;
  padding-top: 1.5rem;
}
main #section3 .cards_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main #section3 .cards_wrap .cards {
  border-radius: 15px;
  display: inline-block;
  padding: 250px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 595px;
  z-index: 1;
}
main #section3 .cards_wrap .cards .cards_inner {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
}
main #section3 .cards_wrap .cards .cards_inner .card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  display: inline-block;
  height: 200px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
}
main #section3 .cards_wrap .cards .cards_inner .card:hover .card__bg {
  display: block;
}
main #section3 .cards_wrap .cards .cards_inner .card .card__img {
  position: relative;
}
main #section3 .cards_wrap .cards .cards_inner .card .card__text {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}
main #section3 .cards_wrap .cards .cards_inner .card .card__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
  font-family: "Inclusive Sans";
}
main #section3 .cards_wrap .cards .cards_inner .card__one .card__img {
  top: 50px;
  right: -10px;
}
main #section3 .cards_wrap .cards .cards_inner .card__two .card__img {
  top: 50px;
}
main #section3 .cards_wrap .cards .cards_inner .card__three .card__img {
  top: 55px;
}
main #section4 {
  background-color: #18191F;
}
main #section4 .project_title {
  text-align: center;
  padding-top: 1.5rem;
}
main #section4 .project_inner {
  height: 850px;
}
main #section4 .project_inner .mySwiper {
  position: relative;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide {
  width: 1200px;
  padding-top: 5rem;
  margin: auto;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a {
  display: flex;
  justify-content: center;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project {
  position: relative;
  display: flex;
  width: 55%;
  justify-content: center;
  padding: 0 36px;
  margin: 0 50px;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project:hover .wrapper::after,
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .wrapper::after {
  opacity: 1;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project:hover .wrapper::after {
  height: 120px;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project:hover .character {
  opacity: 1;
  border-radius: 10px;
  transform: translate3d(0%, -30%, 100px);
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .wrapper {
  transition: all 0.5s;
  margin: auto;
  z-index: -1;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%);
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%);
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .wrapper .cover-image {
  width: 750px;
  object-fit: cover;
  border-radius: 10px;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_img a .project .character {
  width: 280px;
  opacity: 0;
  transition: all 0.9s;
  position: absolute;
  top: 80px;
  right: 0px;
  z-index: -1;
  border-radius: 10px;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text {
  height: 360px;
  width: 750px;
  margin: auto;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_name h3 {
  font-size: 2rem;
  padding-top: 1.2rem;
  font-weight: bold;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_name p {
  color: #FFF06B;
  font-size: 0.8rem;
  padding-top: 0.7rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_detail {
  padding-top: 2rem;
  line-height: 1.2rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_detail p {
  font-size: 0.9rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_skill {
  padding-top: 2rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_skill a {
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  background-color: #35363f;
  border-radius: 5px;
  font-family: "Inclusive Sans";
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn {
  padding-top: 3rem;
  font-size: 0.9rem;
  display: flex;
  gap: 1.2rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn .site {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #2A2A6E;
  font-weight: 500;
  padding: 0.3rem 1rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn .site a {
  color: #fff;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn .site i {
  padding-right: 0.4rem;
  font-size: 1rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn .github {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  background-color: #fff;
  font-family: "Inclusive Sans";
  padding: 0.3rem 0.8rem;
}
main #section4 .project_inner .mySwiper .swiper-wrapper .swiper-slide .project_text .project_btn .github i {
  font-size: 1.5rem;
  padding-right: 0.4rem;
}
main #section4 .project_inner .mySwiper .swiper-button-next {
  color: #6d6d70;
  position: absolute;
  right: 9rem;
  top: 20rem;
  animation: next 2s linear infinite;
}
@keyframes next {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
main #section4 .project_inner .mySwiper .swiper-button-prev {
  color: #6d6d70;
  position: absolute;
  left: 9rem;
  top: 20rem;
  animation: prev 2s linear infinite;
}
@keyframes prev {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
main #section4 .project_inner .mySwiper .swiper_pagination .swiper-pagination {
  top: 52rem;
}
main #section4 .project_inner .mySwiper .swiper_pagination .swiper-pagination .swiper-pagination-bullet {
  background-color: #a7a6a6 !important;
  width: 10px;
  height: 10px;
}
main #section4 .project_inner .mySwiper .swiper_pagination .swiper-pagination .swiper-pagination-bullet.active {
  background-color: #fff !important;
}
main #section5 {
  background-color: hsl(0, 0%, 18%);
  background-size: 3px 3px;
  background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 0) 0, hsl(0, 0%, 10%) 3px), linear-gradient(90deg, hsla(0, 0%, 0%, 0) 0, hsl(0, 0%, 10%) 5px);
}
main #section5 .contact .contact_inner .contact_title {
  text-align: center;
  padding-top: 1.5rem;
}
main #section5 .contact .contact_inner .contact_wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left {
  background-color: rgba(255, 255, 255, 0.0392156863);
  border-radius: 10px;
  width: 480px;
  height: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  height: 100%;
  line-height: 2rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label {
  padding-top: 1.2rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label input {
  color: #ffffff;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label input:focus {
  color: #D34D7C;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label .name {
  background-color: inherit;
  border: 1px solid #fff;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  margin-top: 0.3rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label textarea {
  background-color: inherit;
  border: 1px solid #fff;
  width: 100%;
  height: 150px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.3rem;
  resize: none;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form label textarea:focus {
  color: #D34D7C;
}
main #section5 .contact .contact_inner .contact_wrap .contact_left form button {
  width: 30%;
  height: 9%;
  margin: auto;
  background-color: #D34D7C;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right {
  width: 480px;
  text-align: center;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_icon {
  padding-top: 2.7rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_icon a {
  font-size: 1.9rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_icon span {
  color: #9F9F9F;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_phone {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_phone img {
  width: 50px;
  margin: auto;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_email {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_email img {
  width: 50px;
  margin: auto;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_github {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_github img {
  width: 50px;
  margin: auto;
}
main #section5 .contact .contact_inner .contact_wrap .contact_right .contact_github a {
  color: #fff;
}
main .hidden {
  visibility: hidden;
  opacity: 0;
}