//Font Family
$main-font: "HSBomBaram3";
$intro-font:  "Kings";
$en-font: "Inclusive Sans";
$sub-font: "TheJamsil";

// Text Color
$main-color: #DDAEEA;
$sub-color: #FFF06B;

// Project
$card-height: 300px;
$card-width: calc(var(--card-height) / 1.5);


// skill